<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fashion Store</title>
    <link rel="icon" href="../static/images/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/styles/master.css?{{ cache_id }}">
    <link rel="stylesheet" href="../static/styles/home.css?{{ cache_id }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://font.googleapis.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>

    <nav></nav>

    
    <section class="main-home">
        <div class="main-text">
            <h5>New Collection 2024</h5>
            <h1>Explore Our Stylish<br>Collections At Fashion</h1>
            <p>Discover the latest trends</p>
            <a href="#" class="main-btn">Shop New <i class='bx bx-right-arrow-alt'></i></a>
        </div>
        <div class="down-arrow">
            <a href="#Trending" class="down"><i class='bx bx-down-arrow-alt'></i></a>
        </div>
    </section>
    <!-- top banner -->
    <section class="banner-top">
        <img src="../static/images/banner-top.jpg" alt="">
    </section>
    <!-- Trending-prouduct-section -->
    <section class="trending-product" id="Trending">
        <div class="center-text">
            <h2>Our New <span>Products</span></h2>
        </div>
        <div class="products"></div>
        <!-- popup  -->
        <div class="products-preview hidden">
            <i class="fas fa-times"></i>
            <div class="product-container">
                <main>
                  <section class="thumbnails"></section>
       
                  <section class="content"></section>
                </main>
              </div>
        </div>

    </section>
    <section class="banner-bottom">
        <img src="../static/images/banner-bottom.jpg" alt="">
    </section>
    <!-- client-review-section -->
    <section class="review-section">
        <button class="slider-pre-btn"><img src="../static/images/slider-arrow.png" alt=""></button>
        <button class="slider-nxt-btn"><img src="../static/images/slider-arrow.png" alt=""></button>
        <div class="review-container">
            <div class="Reviews">
                <h3> Client Review</h3>
                <img src="../static/images/girl1.jpg" alt="">
                <p>
                    "Absolutely adore the pieces I got from here! The quality is top-notch <br>
                    and the fit is just perfect. Can't wait to shop here again!"</p>
                    <h2>Emily Jevenue</h2>
            </div>
            <div class="Reviews">
                <h3> Client Review</h3>
                <img src="../static/images/medwf.jpg" alt="">
                <p>
                    "Impressed by the attention to detail in both the product and service. The clothes <br>
                    arrived on time and looked just like the pictures online. <br>
                    Highly recommend giving this store a try!"</p>
                    <h2>Mohammed Wafi</h2>
            </div>
            <div class="Reviews">
                <h3> Client Review</h3>
                <img src="../static/images/boy3.jpg" alt="">
                <p>
                    "Great selection of trendy clothes at reasonable prices. The delivery <br>
                    was prompt and the items were exactly as described. Would recommend!"</p>
                    <h2>Mustapha Essalhy</h2>

            </div>
            <div class="Reviews">
                <h3> Client Review</h3>
                <img src="../static/images/girl2.jpg" alt="">
                <p>
                    "I'm so impressed with the customer service! Had a small issue with my order <br>
                    and theyresolved it quickly and efficiently. Plus, the clothes are fabulous!"</p>
                    <h2>Sophia Munoz</h2>
                </div>
                <div class="Reviews">
                <h3> Client Review</h3>
                <img src="../static/images/boy1.jpg" alt="">
                <p>
                    "Nice variety of styles, from casual to formal wear. The website is easy <br>
                    to navigate and the checkout process was smooth. Overall, a good shopping experience."</p>
                    <h2>Michael Fuller</h2>
                </div>
                <div class="Reviews">
                    <h3> Client Review</h3>
                    <img src="../static/images/girl3.jpg" alt="">
                    <p>
                        "I'm obsessed with the unique pieces I found here! Definitely stands out from other online <br>
                        stores. Plus, the shipping was super fast. Can't wait to show off my new outfits!"</p>
                        <h2>Olivia Lopez</h2>
                    </div>
                    <div class="Reviews">
                        <h3> Client Review</h3>
                        <img src="../static/images/boy2.jpg" alt="">
                        <p>
                            "The clothes I ordered arrived neatly packaged and looked even better in person! The material <br>
                            feels luxurious and the sizing was accurate. Will be returning for more soon!"</p>
                            <h2>Ethan Roberts</h2>
                    </div>
                        
                    </div>
                </section>
                <!-- <section class="client-reviews">
                    <div class="Reviews">
                        <h3> Client Review</h3>
                        <img src="../static/images/man.jpg" alt="">
                        <p>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos accusamus <br>
                            error non ipsa optio laboriosam similique laborum asperiores numquam dolores <br>
                            nemo aspernatur nihil cumque quos necessitatibus deleniti, sint illo repudiandae.</p>
                <h2>Mark Jevenue</h2>
                <p> COE of Addele</p>
        </div>
    </section> -->
        <!-- update-news-section -->
        <section class="update-news">
            <div class="up-center-text">
                <h2>New Updates</h2>
            </div>
            <div class="update-cards">
                <div class="update-card">
                    <img src="../static/images/new-udpates2.jpg" alt="">
                    <h5>26 jan 2024</h5>
                    <h4> let's start bring sale on this summer vacation</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
                    Quas laborum quidem officia placeat amet doloremque iure nesciunt <br>
                    sint cum nulla eveniet consequuntur soluta voluptatibus, sed fugit cumque odit, aliquid accusantium.</p>
                    <h6>Continue Reading ..</h6>
                </div>
                <div class="update-card">
                    <img src="../static/images/new-udpates3.jpg" alt="">
                    <h5>26 jan 2024</h5>
                    <h4> let's start bring sale on this summer vacation</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
                    Quas laborum quidem officia placeat amet doloremque iure nesciunt <br>
                    sint cum nulla eveniet consequuntur soluta voluptatibus, sed fugit cumque odit, aliquid accusantium.</p>
                    <h6>Continue Reading ..</h6>
                </div>
                <div class="update-card">
                    <img src="../static/images/new-updates1.png" alt="">
                    <h5>26 jan 2024</h5>
                    <h4> let's start bring sale on this summer vacation</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
                    Quas laborum quidem officia placeat amet doloremque iure nesciunt <br>
                    sint cum nulla eveniet consequuntur soluta voluptatibus, sed fugit cumque odit, aliquid accusantium.</p>
                    <h6>Continue Reading ..</h6>
                </div>
            </div>
        </section>
    <!-- contact-section -->
    <footer id="footer"></footer>

    <script src="../static/scripts/nav.js?{{ cache_id }}"></script>
    <script src="../static/scripts/home_new_products.js?{{ cache_id }}"></script>
    <script src="../static/scripts/client-reviews.js?{{ cache_id }}"></script>
    <script src="../static/scripts/popup.js?{{ cache_id }}"></script>
    <script src="../static/scripts/footer.js?{{ cache_id }}"></script>
</body>
</html>
