.checkout-section {
    margin-top: 85px;
    min-height: calc(100vh - 85px);
    padding: 4% 15%;
    height: auto;
}
.checkout-container {
    min-height: 25vh;
    height: auto;
}
.headings {
    background-color: black;
    color: #fff;
    height: 40px;
}
.checkout-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1%;
    padding-right: 1%;
}
.checkout-column {
    height: 100%;
}
.col1 {
    width: 50%;
    display: flex;
    align-items: center;
}
.col2 {
    width: 20%;
    display: flex;
    align-items: center;
}
.col3 {
    width: 15%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.prod-column {
    padding-top: 2%;
}
.product-card {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.product-card img {
    border-radius: 8px;
    width: 80px;
    margin-right: 20px;
}
.checkout-total {
    margin-top: 5px;
    margin-left: 55%;
    border-top: 3px solid var(--Orange);
    width: 45%;
}
.total-row {
    padding: 3% 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.emty_cart_img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../images/emty_cart_img.WEBP");
    background-repeat: no-repeat;
    height: 400px;
    width: 500px;
}
.relative {
    position: relative;
}
.buttons {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
}
.amount-btn {
    background-color: var(--Light-grayish-blue);
    display: flex;
    align-items: center;
    width: 35%;
    border-radius: 7px;
    justify-content: space-around;
    height: 40px;
    width: 120px;
}
.amount-btn button {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.amount {
    font-weight: 700;
}
.checkout-total p {
    font-family: 'Poppins', sans-serif;
    color: red;
    font-size: larger;
    font-weight: 800;
}
.checkout-total h4 {
    font-size:x-large;
}
.buy-now {
    cursor: pointer;
    width: 50%;
    background-color: black;
    color: white;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
    font-family: inherit;
    border: none;
    border-radius: 7px;
    padding: 1rem;
    margin: 5% auto;
    text-transform: capitalize;
}
.buy-now:hover{
    opacity: 0.8;
}
