.product-container {
    margin-top: 85px;
    height: calc(100vh - 190px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main {
    max-width: 1100px;
    display: flex;
    height: calc(100vh - 150px);
    align-items: center;
    justify-content: space-between;
    margin-inline: 2rem;
}
.thumbnails {
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
    align-items: center;
  }
  .main-thumbnail {
    border-radius: 10px;
    max-width: 336px;
    cursor: pointer;
  }
  .preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 80px;
  }
  .preview img {
    width: 90px;
    border-radius: 10px;
    cursor: pointer;
  }
  .preview img:hover {
    opacity: 60%;
  }
  
  .selected {
    border: 2px solid var(--Orange);
    opacity: 50%;
  }
  .content {
    margin-left: 1rem;
  }
  .title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  .info {
    color: var(--Dark-grayish-blue);
    line-height: 1.5;
    margin-bottom: 2rem;
  }
  .price {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    margin-bottom: 1rem;
  }
  .new-price {
    display: flex;
    align-items: center;
  }
  .new-price p {
    font-size: 1.5rem;
    font-weight: 700;
  }
  .new-price span {
    margin-left: 1rem;
    background-color: var(--Pale-orange);
    padding: 0.3rem;
    border-radius: 6px;
    color: var(--Orange);
    font-weight: 700;
  }
  .old-price {
    color: var(--Grayish-blue);
    text-decoration: line-through;
  }
  .buttons {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
  }
  .amount-btn {
    background-color: var(--Light-grayish-blue);
    display: flex;
    align-items: center;
    padding: 1rem;
    width: 35%;
    border-radius: 7px;
    justify-content: space-between;
  }
  .amount-btn button {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .amount {
    font-weight: 700;
  }
  .add_btn {
    cursor: pointer;
    width: 65%;
    /* margin-left: 1rem; */
    background-color: #77928F;
    color: white;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
    font-family: inherit;
    border: none;
    border-radius: 7px;
    padding: 1rem;
  }
  .add_btn:hover {
    opacity: 70%;
  }
  .add_btn img {
    filter: brightness(5);
  }
  .also_viewed{
    padding: 2% 10%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 2rem;
  }
  .simular_heading {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: auto;
    font-size: 24px;
    font-weight: bold;
    text-transform: capitalize;
    color: #333;
  }
  .show-more {
    cursor: pointer;
    width: 25%;
    background-color: #353535;
    color: white;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
    font-family: inherit;
    border: none;
    border-radius: 7px;
    padding: 1rem;
    margin: 2% auto;
    text-transform: capitalize;
    opacity: 0.8;
  }
  .hidden {
    display: none;
  }
  .show-more:hover {
    opacity: 1;
  }

  .size-selector {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .size-option {
    position: relative;
    width: 50px;
    height: 50px;
    border: 2px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .size-option input[type="radio"] {
    position: absolute;
    left: -9999px; /* Hide radio button */
  }

  .size-option label {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  .size-option label:hover {
    cursor: pointer;
  }
  .size-option input[type="radio"]:checked + label {
    color: #fff;
    background-color: var(--Orange);
  }

  .size-option:hover {
    border-color: black;
  }
  @media screen and (max-width: 700px) {
    .product-container {
        height: 100%;
    }
    main {
      flex-direction: column;
      align-items: center;
      margin-inline: 0;
      height: 100%;
      margin-bottom: 4rem;
    }
    .thumbnails {
      height: 40%;
    }
    .content {
      margin: 2rem;
      height: 50%;
    }
    .preview {
      display: none;
    }
    .mobile-thumb {
      position: relative;
      display: flex;
      overflow-x: hidden;
      min-width: 95vw;
      margin-top: -0.5rem;
      z-index: 1;
    }
    .mobile-thumb img {
      object-fit: cover;
      width: 100%;
      z-index: 1;
    }
    .title {
      font-size: 2.2rem;
    }
    .price {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
    .buttons {
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }
    .amount-btn {
      width: 100%;
    }
    .add_btn {
      width: 100%;
      margin-left: 0;
    }
    #next {
      position: absolute;
      right: 10%;
      top: 50%;
      border: none;
      background-color: var(--White);
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      text-align: center;
      cursor: pointer;
      z-index: 10;
    }
    #previous {
      position: absolute;
      left: 10%;
      top: 50%;
      border: none;
      background-color: var(--White);
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      text-align: center;
      cursor: pointer;
      z-index: 10;
    }
    #previous img,
    #next img {
      width: 15px;
    }
}
